@model IEnumerable<AdminUI.Models.ProductCategoryBL>

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
@using (Html.BeginForm("UploadAsync", "ProductCategories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="UploadedFile" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<style type="text/css">

    ltgray {
        background-color: lightgray !important;
    }

    thead th {
        max-width: 70px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

        thead th:hover {
            overflow: visible;
            white-space: normal;
            height: auto;
        }

    #productCategoryTable tbody td {
        max-width: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #productCategoryTable tbody td:hover {
        overflow: visible;
        white-space: normal;
        height: auto;
    }
</style>



<table id="productCategoryTable" class="table table-bordered" style="width:100%">

    <thead style="background-color:lightgray">
        <tr>
            <th>
                ProductCategoryID
            </th>
            <th>
                ProductCategoryName
            </th>
            <th>
                MasterProductCategoryID
            </th>
            <th>
                MasterProductCategoryName
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                ProductCategoryID
            </th>
            <th>
                ProductCategoryName
            </th>
            <th>
                MasterProductCategoryID
            </th>
            <th>
                MasterProductCategoryName
            </th>
            <th>
                Action
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasterProductCategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MasterProductCategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ProductCategoryId = item.ProductCategoryId }) |
                    @Html.ActionLink("Details", "Details", new { ProductCategoryId = item.ProductCategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { ProductCategoryId = item.ProductCategoryId })
                </td>
            </tr>
        }
    </tbody>



</table>

<style type="text/css">
    tfoot {
        display: table-row-group;
    }
</style>
<script type="text/javascript">


    $(document).ready(function () {


        $('#productCategoryTable tfoot tr').clone(true).appendTo('#productCategoryTable tfoot');
        $('#productCategoryTable tfoot tr:eq(1) th').each(function (i) {


            $(this).insertAfter($(this).siblings('#productCategoryTable thead'));

            $(this).html('<input type="text" size="5" placeholder="search"/>');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            $('input').each(function () {
                $(this).width($(this).parent().width() - 26);
            });



        });


        $("#productCategoryTable tfoot tr:first-child").remove();

        var table = $('#productCategoryTable').DataTable({
            dom: 'Blfrtip'
            , order: [[1, 'desc']]
            , buttons: [
                {
                    extend: 'excel',
                    exportOptions: {
                        format: {
                            title: function (data, column) {
                                return null;
                            }
                        },
                        columns: [0, 1,2]  
                    }, footer: true
                   
                }
                //,
                //{
                //    extend: 'csv',
                //    exportOptions: {
                //        columns: [0, 1]
                //    }, footer: true
                //}
                //,
                //{
                //    extend: 'csv',
                //    title: 'csv',
                //    exportOptions: {
                //        columns: ':visible'
                //    }
                //},
                //{
                //    extend: 'pdf',
                //    title: 'pdf',
                //    exportOptions: {
                //        columns: ':visible'
                //    }
                //}
                //,
                //{
                //    extend: 'print',
                //    exportOptions: {
                //        columns: [0, 1]
                //    }, footer: true
                //}
                ,
                {
                    extend: 'colvis',
                    exportOptions: {
                        columns: [0, 1,2]
                    }, footer: true
                }
            ]
            ,columnDefs: [{
               /* targets: 1,*/
                visible: false
            }]
            , "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]

        });

    });

</script>


