@model AdminUI.Models.ProductSubcategoryBL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductSubcategoryBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductSubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubcategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ProductSubcategoryId = Model.ProductSubcategoryId })|
    @Html.ActionLink("Back to List", "Index")
</p>
